---
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import Div_blog from '../../components/Div_blog.astro';
import BaseHead from '../../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="searcher">
      <Search_bar />
    </div>
    <div class="blog_browser">
      <Div_blog />
    </div>
    <footer>
      <p>Copyright © 2026 DDLG. All rights reserved.</p>
    </footer>
  </body>
</html>
