---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import GGLG from '../assets/GGLG.jpg';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>
        <a href="/about">
        <svg style="align-items: center">
        <Image
          src={GGLG}
          alt="My Photo"
          width="200"
          height="200"
          style="border-radius: 10%; object-fit: cover;"
        />
        </svg>
        </a>
        <br />
        Welcome To GGLG Blog!
      </h1>
    </main>
    <Footer />
  </body>
</html>
