/*
 * Div_blog.astro
 */

.blog-card {
  display: block;
  background: linear-gradient(to bottom, #ffffff, rgba(148, 225, 242, 0.7));
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(84, 124, 149, 0.1);
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease;
}

.blog-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 15px -3px rgba(210, 65, 65, 0.283);
  border-color: #cbd5e1;
  opacity: 0.8
}

.title {
  margin: 0 0 12px 0;
  font-size: 1.25rem;
  color: #0b3269;
}

.excerpt {
  margin: 0;
  color: #64748b;
  font-size: 0.95rem;
  line-height: 1.5;
}

/*
 * Search_bar.astro
 */

.search-bar {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  /* 确保 padding 不会撑大盒子 */
  transition: border-color 0.3s ease;
}

.search-bar:focus {
  outline: none;
  border-color: #007bff;
  /* 聚焦时变色 */
}