---
import './components.css';
interface Props {
  title: string;
  url: string;
  excerpt: string;
}

const { title, url, excerpt } = Astro.props;
---

<a href={url} class="blog-card blog-card-item" data-title={title.toLowerCase()}>
  <p class="title">{title}</p>
  <p class="excerpt">{excerpt}</p>
</a>
